* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("background.avif") center/cover no-repeat;
  min-height: 100vh;

}

.auth-container {
  background: white;
  padding: 35px;
  width: 360px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.35);
}

.auth-form h2 {
  margin-bottom: 5px;
}

.auth-form p {
  color: #555;
  margin-bottom: 20px;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.auth-form input:focus {
  border-color: black;
}

button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #222;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;
  color: #666;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider span {
  padding: 0 10px;
}

.signup-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1.5px solid black;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

.signup-btn:hover {
  background: black;
  color: white;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
